<div class="bg" >
  <div class="wrapper">
    <div id="formcontent">
      <div class="container-fluid">
        <h2>Login form</h2>
        <br>
        <form [formGroup]="loginForm">
            <div class="form-group">
              <label>Username</label>
              <input formControlName="username" type="text" name="username">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input formControlName="password" type="password" name="password">
            </div>
            <button class="btn btn-success " type="submit"
            (click)="loggedin(loginForm.value)" [disabled]="!loginForm.valid">Login
            </button>
        </form>
      </div>
    </div>
  </div>
</div>
